/* Classes fantasmas */

.done {
	background-color: #0000001f;
}

.done h3 {
	opacity: 50%;
	text-decoration: line-through;
}

.hide,
#first {
	display: none;
}

/* Estilos */
.material-symbols-outlined{
	font-weight: bold;
	color: var(--white);
}
/* Header */

header h1 {
	text-align: center;
	font-size: 200%;
	padding: 0 0 2rem;
	border-bottom: solid 0.1rem var(--secundary-text);
}

.title-header {
	font-weight: bold;
}

/* Main */

main {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Todo Container */

.todo-container {
	width: 50vw;
	min-width: 40rem;

	background-color: #31acff;

	box-shadow: 0px 0px 137px -40px #31acffbf;
	
	padding: 3rem;
	margin-bottom: 10rem;
	border-radius: 2rem;
}

#edit-form,
#toolbar {
	padding: 1rem 0 2rem;
}

#todo-form {
	padding-bottom: 2rem;
} 

#todo-form h4,
#edit-form h4 {
	font-weight: bold;
	font-size: 18pt;
	padding-bottom: 1rem;
}

.form-control {
	display: flex;
	gap: 1rem;
	align-items: center;
}

#todo-input,
#edit-input{
	border: 1px solid transparent;
	background-color: #aadeff;
	padding: 1rem;
	width: 70%;
	border-radius: .6rem;
}

#todo-input:focus,
#edit-input:focus{
	outline: 0;
	border: 1px solid var(--primary-text);
}

#todo-input::placeholder{
	color: var(--primary-text);
}

.submit-button,
.edit-button{
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--primary-text);
	border: none;
	border-radius: 1rem;
	width: 3.2rem;
	height: 3.2rem;
}

.submit-button:hover,
.edit-button:hover{
	background-color: var(--primary-text-hover);
}

.submit-button i {
	font-style: normal;
	font-size: 20pt;

	padding-bottom: 0.1rem;

	color: white;
}

#toolbar {
	padding: 2rem 0 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

input {
	padding: .5rem 1rem;
}

button {
	width: 4rem;
	height: 2.8rem;
}

p{
	padding: 1rem 0;
}

#cancel-edit-btn {
	width: 7rem;
}

#filter {
	width: 10rem;
}

#filter-select {
	width: 100%;
	padding: .5rem 1rem;
}

#todo-list {
	display: flex;
	flex-direction: column;
}

.todo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: .3s;
	padding: 1.2rem 1rem;
	animation: slide .5s ease-in-out;
}


.todo h3 {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.finish-todo,
.delete-todo,
.edit-todo {
	border-radius: .5rem;
	background: none;
	cursor: pointer;
	margin-left: 1rem;
}

#cancel-edit-btn {
	background-color: var(--primary-text);
	border-radius: .5rem;

	font-weight: bold;
	color: var(--white);

	border: none;
	width: 10rem;
	margin-top: 1rem;
	height: 3rem;
}

#cancel-edit-btn:hover {
	background-color: var(--primary-text-hover);
}

.finish-todo {
	border: 3px solid var(--finish-button);
	width: 2.9rem;
	border-radius: 3rem;
	background-color: var(--finish);
}
.edit-todo {
	border: 3px solid var(--edit-button);
	width: 2.9rem;
	border-radius: 3rem;
	background-color: var(--edit);
}
.delete-todo {
	border: 3px solid var(--delete-button);
	width: 2.9rem;
	border-radius: 3rem;
	background-color: var(--delete);
}

.finish-todo:hover {
	background-color: var(--finish-hover);
}
.edit-todo:hover {
	background-color: var(--edit-hover);
}
.delete-todo:hover {
	background-color: var(--delete-hover);
}

@keyframes slide {
	from {
		opacity: 0%;
		transform: translateX(20%);
	}
	to {
		opacity: 100%;
	}
}